<h3><%= t('questions.show.header', title: @question.test.title)%></h3>
<div>
  <h1><%= @question.body %></h1><br>

</div>

<h2><%= t('questions.show.answers') %></h2>

<%= link_to t('questions.show.new_answer'), new_admins_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<br><%= link_to t('shared.actions.edit'), edit_admins_question_path(@question) %> |
<%= link_to t('navigations.back'), admins_test_path(@question.test) %><br>
