<%= form_with model: [:admins, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <% disabled = @badge.persisted? ? true : false %>
  <div class="form-group">

    <div class="alert alert-info" role="alert">
      Select conditions for rule
    </div>

    <div class="first-group">
      <div class="condition-by-count">
        <div class="form-check">
          <%= form.check_box :all_tests, class: "form-check-input first-group-input", disabled: disabled %>
          <%= form.label :all_tests, 'All completed tests in group', class: "form-check-label" %>
        </div>

        <div class="form-check">
          <%= form.check_box :first_test, class: "form-check-input first-group-input", disabled: disabled %>
          <%= form.label :first_test,'First completed in group', class: "form-check-label" %>
        </div>

        <div class="form-group mt-3">
          <%= form.label :count_of_completed_test %>
          <%= form.number_field :count_of_completed_test, id: :count_of_completed_test, class: 'form-control first-group-input', placeholder: 'Enter count of completed tests', disabled: disabled %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :level %>
        <%= form.number_field :level, id: :rule_level, class: 'form-control first-group-input', placeholder: 'Enter level number (1,2,3 etc)', disabled: disabled %>
      </div>

      <div class="form-group">
        <%= form.label :category_id %>
        <%= form.collection_select :category_id, Category.all, :id, :title, { prompt: true, include_blank: true }, { class: "custom-select first-group-input", placeholder: 'Enter first name', disabled: disabled } %>
      </div>
    </div>

    <hr class="my-4">

    <div class="alert alert-info" role="alert">
      OR select only test if you want create rule for completed specific test
    </div>

    <div class="form-group second-group">
      <%= form.label :test_id %>
      <%= form.collection_select :test_id, Test.all, :id, :title, { prompt: true, include_blank: true }, { class: "custom-select", placeholder: 'Select test', disabled: disabled } %>
    </div>

    <hr class="my-4">

    <div class="form-group">
      <%= form.label :image_url %>
      <%= form.text_field :image_url, id: :image_url, class: 'form-control', placeholder: 'Enter image url for budge' %>
    </div>
    <%= form.submit 'Create', class: 'btn btn-primary', id: 'submit' %>
  </div>
<% end %>
