<h1 class="<%= @test_passage.successful? ? 'successful' : 'failed'%>_title">
  <%= get_result_title(@test_passage) %> </h1>

<div><h3>You result is <%=@test_passage.result_in_percent%> %</h3></div>

<div><h3>You have <%=@test_passage.correct_questions%> correct answers.</h3></div>

<br><%= link_to 'All tests', tests_path %><br>
