<%= form_with model: [:admins, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, id: :test_title %>
  </p>
  <p>
    <%= form.label :level %>
    <%= form.select :level, options_for_select(Test::TEST_LEVELS.invert), { prompt: true}, { placeholder: 'Enter first name'} %>
  </p>
  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>
  <p><%= form.submit %> </p>
<% end %>
