<tr>
  <td colspan='5' class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>

    <%= render 'admins/tests/form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"> <%= Test.test_level(test.level) %></td>
  <td class="align-middle"> <%= test.category.title %></td>
  <td class="align-middle"> <%= test.questions.size %></td>
  <td class="align-middle">
  <%= link_to t('shared.actions.show'), admins_test_path(test), class: 'btn btn-outline-info' %>
   <%= link_to t('shared.actions.edit'),
               edit_admins_test_path(test),
               data: { test_id: test.id },
               class: 'btn btn-outline-primary form-inline-link' %>
   <%= link_to t('shared.actions.delete'), admins_test_path(test), method: :delete,
                   class: 'btn btn-outline-danger',
                   data: { confirm: t('shared.confirmation') } %></td>
</tr>
