<div>
  <div>
    <h1><%= t('tests.index.header') %></h1><%= link_to t('tests.index.add_new'), new_admins_test_path %>
  </div><br>
  <table>
    <tr>
      <th><%=t('tests.index.title')%></th>
      <th><%=t('tests.index.level')%></th>
      <th><%=t('tests.index.category')%></th>
      <th><%=t('tests.index.question')%></th>
      <th colspan = '4'><%=t('actions.actions')%></th>
    </tr>
    <%= render @tests %>
  </table>
</div>
