<div>
  <h2><strong><%= t('tests.show.test_title') %></strong> <%= @test.title %></h2>
  <h3><strong><%= t('tests.show.level') %></strong> <%= test_level(@test) %></h3>
  <p> <%= link_to t('tests.show.new_question'), new_admins_test_question_path(@test) %></p><br>

  <h3> <%= t('tests.show.questions') %> </h3>

  <ol>
    <%= render @test.questions %>
  </ol>
</div>

<br><%= link_to t('navigations.edit'), edit_admins_test_path(@test) %> |
<%= link_to t('navigations.back'), admins_tests_path %> <br>
